:root{
  /* Primary */
  --Very-Dark-Blue: #070439;
  --Desaturated-Blue: #585989;
  /* Accent */
  --Bright-Blue: #3065f8;
  --Moderate-Cyan: #3c9f8f;
  /* Neutral */
  --Light-Grayish-Blue: #f6f6fe;
  --Light-Gray: #bfbfbf;
  --white: #fff;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
body{
  /* padding: 20px; */
  width: 100vw;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.logo img{
  width: 80px;
}
.links ul{
  display: flex;
}
.links ul li{
  list-style: none;
  font-size: 1.3rem;
  margin-right: 12px;
}
.links ul li a{
  text-decoration: none;
  color: var(--Very-Dark-Blue); 
}
.top-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.ilustration img{
  width: 200px;
}
.info h2{
  color: var(--Very-Dark-Blue);
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 12px;
}
.info p{
  color: var(--Very-Dark-Blue);
  text-align: center;
  font-size: 1.5rem;
}
.form-email{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-email{
  display: flex;
  width: 100%;
  height: 35px;
  margin-bottom: 12px;
  margin-top: 12px;
  padding: 8px;
  border: 1px solid var(--Very-Dark-Blue);
  border-radius: 4px;
}
.primary-button{
  width: 100%;
  height: 35px;
  font-weight: bold;
  background-color: var(--Bright-Blue);
  color: var(--Light-Grayish-Blue);
  border: none;
  border-radius: 4px;
  margin-bottom: 12px;
}
.primary-button:hover{
  background-color: var(--Desaturated-Blue);
  cursor: pointer;
}
.curve-bg{
  width: 100%;
}
.bottom-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Light-Grayish-Blue);
  padding: 20px;
  margin-top: -5px;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info h4{
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: var(--Very-Dark-Blue);
}
.info p{
  text-align:left;
}
.arrow-link{
  border-bottom: 1px solid var(--Moderate-Cyan);
  display: flex;
  align-items: center;
  margin: 28px 0;
}
.arrow-link a{
  text-decoration: none;
  color: var(--Moderate-Cyan);
  margin-right: 4px;
}
.testimony{
  width: 85%;
  background-color: var(--white);
  /* background-color: red; */
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 24px;
}
.testimony img{
  width: 25px;
  height: 25px;
}
.avatar-section{
  display: flex;
  margin-top: 12px;
}
.avatar{
  border-radius: 50%;
  margin-right: 12px;
}
.testimony p{
  font-size: 1.2rem;
}
.footer-top{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: var(--Desaturated-Blue);
  color: var(--Light-Grayish-Blue);
}
.info-footer-top{
  text-align: center;
}
.footer-top h4{
  font-size: 1.6rem;
  margin-bottom: 16px;
}
.footer-top p{
  font-size: 1.4rem;
  margin-bottom: 12px;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
}
.form input{
  width: 220px;
  height: 32px;
  margin-bottom: 8px;
  padding-left: 8px;
}
.form button{
  width: 220px;
  height: 32px;
  background-color: var(--Bright-Blue);
  color: var(--Light-Grayish-Blue);
  border: none;
  border-radius: 4px;
}
.secondary-button:hover{
  background-color:var(--Desaturated-Blue);
  cursor: pointer;
}

.footer-bottom{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  font-size: 1.6rem;
}
.phone{
  margin-top: 12px;
}
.phone, .mail{
  display: flex;
  margin-top: 12px;
}
.phone img, .mail img{
  margin-right: 12px;
}
.column-1{
  margin-bottom: 24px;
}
.column-1 img{
  margin-bottom: 20px;
}
.column-2, .column-3{
  margin: 20px 0;
}
.column-2 ul li, .column-3 ul li{
  list-style: none;
  margin-bottom: 16px;
}
.column-2 ul li a, .column-3 ul li a{
  text-decoration: none;
  color: var(--Light-Gray);
  font-size: 1.6rem;
}
.column-2 ul li a:hover, .column-3 ul li a:hover{
  color: var(--Desaturated-Blue);
  cursor: pointer;
}
.column-4{
  display: flex;
  align-items: center;
  justify-content: center;
}
.column-4 a svg{
  width: 25px;
  margin-right: 10px;
}
.icon{
  fill: var(--Light-Grayish-Blue);
}
.icon:hover{
  fill: var(--Desaturated-Blue);
  cursor: pointer;
}