:root{
  /* Primary */
  --Very-Dark-Blue: #070439;
  --Desaturated-Blue: #585989;
  /* Accent */
  --Bright-Blue: #3065f8;
  --Moderate-Cyan: #3c9f8f;
  /* Neutral */
  --Light-Grayish-Blue: #f6f6fe;
  --Light-Gray: #bfbfbf;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}
